<nav>
    <a href="/home"><img src="./images/pokeball.png" alt="logo"></a>
    <a href="">Profile</a>
    <a href="">Pokemon</a>
    <a href="">Create Team</a>
    <a href="">View Teams</a>
    <a href="/logout">Logout</a>
</nav>

