<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/home"><img src="./images/pokeball.png" alt="logo"></a>
      <a href="/users/profile">Profile</a>
      <a href="/pokemon">Pokémon</a>
      <a href="/users/create">Create Team</a>
      <a href="/users/teams">View Teams</a>
      <a href="/logout">Logout</a>
    </nav>
    {{{body}}}
  </body>
</html>
