body {
    background-color: red;
}

 .box {
    display: grid;
    border: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 10px;
    gap: 20px;
  }

  .flex {
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .flex:hover {
    background-color: transparent;
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
  }

  /* .image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  } */