* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: red;
  font-family: 'Merriweather', serif;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

a:hover {
  color: #2a75bb;
}

span {
  color: #2a75bb;
}

nav {
  background-color: rgb(255, 255, 255);
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  font-size: 25px;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

img {
  height: 5vh;
}

.logout-span {
  margin-left: auto;
}

.logout-span:hover {
  color: #2a75bb;
}

.box {
  border: 1px black solid;
}

.pokemon-img {
  height: 20vh;
}

.team-form select{
  padding: 10px;
}

.teams-box {
  margin: 10px;
  background-color: white;
  border: 1px solid black;
}

.team-and-user-name {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.poke-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.poke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
