* {
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

img {
  height: 5vh;
}
